
/* a {
  font-weight: 800;
} */

.logo{
  width: 90px; 
  height: 90px; 
  object-fit: cover; 
  margin-bottom: 10px;
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(217 217 217);
  border-radius: 5vh;
  margin: 2vh 0;
  align-self: center;
}

header {
  
  background-color: #6ba36f;
  display: flex;
  justify-content: space-around;  
  margin-bottom: 1vh;
  overflow: hidden;
  padding: 1vh;
  position: sticky;
  top: 0;
  width: 100%;
}

header img {
  border-radius: 11vh;
  width: 10%;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

nav div a p {
  align-self: center;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  padding: 180px 0px 0px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item{
padding: 2vh;
}

#menu {
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

div a {
  margin-left: 1vh;
}

#contactanos {
  align-items: end;
  display: flex;
}

.submenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 2rem 5px;
  text-align: center;
  
}

.submenu a {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 30%;
  margin: 10px;
  color: black;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
}

.submenu img {
  width: 250px; 
  height: 250px; 
  object-fit: cover; 
  margin-bottom: 10px;
  border-radius: 5vh;
  align-self: center;
}

/* img {
  width: 100%;
  border-radius: 5vh;"
  padding: 1vh;
  margin: 1vh auto 1vh;
} */

footer {
  background-color: rgb(35, 99, 35);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2vh;

}

.icono {
  margin: 2vh;
  width: 5vh;
}

.redes {
  align-items: center;
  display: flex;
}

footer h3 {
  margin: 2vh;
}



